.errorNotification {
	background : #F2DEDE;
    color: #A94442;
    border-bottom: solid 1px #EBCCD1;
}

.battery:after {
    background-color: #ccc;
    border: 2px solid #ccc;
	border-radius: 5px;
    content: "";
    display: block;
    height: 12px;
    position: absolute;
    right: -6px;
    top: 8px;
    width: 6px;
}
.battery {
    background-color: #fff;
    border: 2px solid #ccc;
	border-radius: 5px;
    height: 32px;
    margin-right: auto;
    position: relative;
    width: 100%;
	max-width: 100px;
	text-align: center;
}

.batteryStatus {
	width: 50%;
	height: 100%;
	background-color: #0A0;
	border-radius: 2px;
	height:100%;
}

#tools {
	padding: 15px;
	vertical-align: middle;
}

.cros-logo {
    background: url("../img/logo_small.png") !important;
    background-size: contain !important;
}

.btn.btn-swap {
	margin-bottom: 10px;
}

.well.route-well {
	margin-bottom: 10px;
}

.basestation {
	margin-top: -20px;
	margin-bottom: 8px;
	margin-right: -17px;
}

.leaflet-control-center-interior
{
    width: 35px;
    height: 32px;
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

.leaflet-control-center-active {
    color: #1ABC9C;
}

.leaflet-control-center-interior:hover
{
    background-color: #F4F4F4;
    cursor: pointer;
    color: #1ABC9C;
}

#customTableHeader
{
    color: black;
    font-weight: bold;
    padding: 0px 0px;

}
#customTableHeader:hover
{
    color: #1abc9c;
    text-decoration: none;
}

#customTableHeader:active
{
    webkit-box-shadow: none;
    box-shadow: none;
}

.list-group-item.extra-padding {
	padding-bottom: 20px;
}

.list-group-item.notifications-title {
	background-color: #CCC;
}

.list-group-item.no-notifications {
	color: #BBB;
}

.time {
	color: #AAA;
	position: absolute;
	bottom: 0;
	right: 10px;
	font-size: small;
}

.scroll {
	height: 415px;
	overflow-y:auto;
}

#notificationSlider {
	display: none;
}
